body {
  margin : 100px;
  font-family: arial, sans-serif;
}

.title {
  font-size: 4em;
  font-color: #0C0C0C;
  font-family: 'Abril Fatface', cursive;
}

.logo {
  width: 300px;
}

input{
   text-align:center;
   font-family: 'Open Sans', sans-serif;
   width: 50%;
}

.subtitle {
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
}